.grid-item {

    display: inline-grid;
    
    grid-template: 1fr 1fr 1fr / 3fr 2fr 2fr;
    grid-auto-flow: row;
    align-items: stretch;
    gap: clamp(5px, 0px, 10px)

}
[class^='grid-item'] {
  outline: 1px #f90 dashed;
  display: inline-grid;
  
 
}

/*
.grid-item-logo {
    grid-column: 1/span 4;
 }
 .logo {
    width: 70px;
    height: 75px;
 }
 .grid-item-menu {
    grid-column: 5/span 2; 
 }
 
 .grid-item-contact {
   grid-column: 7/span 2; 
    text-align: right;
 }  
 
 
 
 .grid-item-heading {
    grid-row: 2/span 3;
     grid-column: 1/span 4; 
     
    
 }
 .grid-item-link-hero {
  
    grid-row: 4;
     grid-column: 7/span 2;
     
    
     
 }
 .grid-item-text-hero {
    grid-row: 6;
     grid-column: 1/span 3;
 }
 .grid-item-hero-img1 {
    grid-row: 6/span 2;
     grid-column: 5/span 4;
     align-self: end;
    
    
 }
 .grid-item-hero-img2 {
    grid-row: 7;
     grid-column: 1/span 2;
     
 }
 .grid-item-about {
    grid-row: 8;
    grid-column: 1/span 3; 
    margin: 110px 0px 0px 0px;
 }

 .grid-item-about-text {
   grid-row: 8;
    grid-column: 5/span 3; 
    margin: 110px 0px 0px 0px;
 }

 .grid-item-steps {
    grid-row: 9;
    grid-column: 1/span 3;
    margin: 110px 0px 0px 0px; 
 }
 .grid-item-steps-items {
   grid-row: 9;
    grid-column: 5/span 2; 
    margin: 110px 0px 0px 0px;
 }
 .grid-item-steps-items-idea {
   grid-row: 10;
   grid-column: 5/span 2;
 }
 .grid-item-steps-items-idea-text {
   grid-row: 10;
   grid-column: 7/span 2;
 }
 .grid-item-steps-items-tehnical {
   grid-row: 11;
   grid-column: 5/span 2;
 }
 .grid-item-steps-items-tehnical-text {
   grid-row: 11;
   grid-column: 7/span 2;
 }
 .grid-item-steps-items-commercial {
   grid-row: 12;
   grid-column: 5/span 2;
 }
 .grid-item-steps-items-commercial-text {
   grid-row: 12;
   grid-column: 7/span 2;
 }
 .grid-item-steps-items-preparation {
   grid-row: 13;
   grid-column: 5/span 2;
 }
 .grid-item-steps-items-preparation-text {
   grid-row: 13;
   grid-column: 7/span 2;
 }
 .grid-item-steps-items-production {
   grid-row: 14;
   grid-column: 5/span 2;
 }
 .grid-item-steps-items-production-text {
   grid-row: 14;
   grid-column: 7/span 2;
 }

 .grid-item-projects-text {
    grid-row: 15;
    grid-column: 1/span 6; 
    margin: 110px 0px 30px 0px;
 }
 .grid-item-projects {

  display: inline-grid;
  gap: 10px 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: row;
 
  

}

.grid-item-logo {
  grid-column: 1/span 4;
}
.logo {
  width: 70px;
  height: 75px;
}
.grid-item-menu {
  grid-column: 5/span 2; 
}

.grid-item-contact {
  grid-column: 7/span 2;
  text-align: right;
}  



.grid-item-heading {
  grid-row: 2/span 3;
   grid-column: 1/span 4; 
   
  
}
.grid-item-link-hero {

  grid-row: 4;
   grid-column: 7/span 2;
   
  
   
}
.grid-item-text-hero {
  grid-row: 6;
   grid-column: 1/span 3;
}
.grid-item-hero-img1 {
  grid-row: 6/span 2;
   grid-column: 5/span 4;
  
  
}
.grid-item-hero-img2 {
  grid-row: 7;
   grid-column: 1/span 2;
   
}
.grid-item-about {
  grid-row: 8;
  grid-column: 1/span 3; 
  margin: 110px 0px 0px 0px;
}

.grid-item-about-text {
 grid-row: 8;
  grid-column: 5/span 3; 
  margin: 110px 0px 0px 0px;
}

.grid-item-steps {
  grid-row: 9;
  grid-column: 1/span 3;
  margin: 110px 0px 0px 0px; 
}
.grid-item-steps-items {
 grid-row: 9;
  grid-column: 5/span 2; 
  margin: 110px 0px 0px 0px;
}
.grid-item-steps-items-idea {
 grid-row: 10;
 grid-column: 5/span 2;
}
.grid-item-steps-items-idea-text {
 grid-row: 10;
 grid-column: 7/span 2;
}
.grid-item-steps-items-tehnical {
 grid-row: 11;
 grid-column: 5/span 2;
}
.grid-item-steps-items-tehnical-text {
 grid-row: 11;
 grid-column: 7/span 2;
}
.grid-item-steps-items-commercial {
 grid-row: 12;
 grid-column: 5/span 2;
}
.grid-item-steps-items-commercial-text {
 grid-row: 12;
 grid-column: 7/span 2;
}
.grid-item-steps-items-preparation {
 grid-row: 13;
 grid-column: 5/span 2;
}
.grid-item-steps-items-preparation-text {
 grid-row: 13;
 grid-column: 7/span 2;
}
.grid-item-steps-items-production {
 grid-row: 14;
 grid-column: 5/span 2;
}
.grid-item-steps-items-production-text {
 grid-row: 14;
 grid-column: 7/span 2;
}

.grid-item-projects-text {
  grid-row: 15;
  grid-column: 1/span 6; 
  margin: 110px 0px 30px 0px;
}
.grid-item-projects {
display: inline-grid;
gap: 30px 0px;
grid-template-columns: repeat(9, 1fr);
grid-row: 16;
grid-column: 1/span 9;

 
}

.grid-item-projects-1 {
grid-row: 1;
grid-column: 1/span 3; 

}
.grid-item-projects-2 {
grid-row: 1;
grid-column: 4/span 3; 
}
.grid-item-projects-3 {
grid-row: 1;
grid-column: 7/span 3; 
}
.grid-item-projects-4
{
grid-row: 2;
grid-column: 1/span 3; 
}
.grid-item-projects-5 {
grid-row: 2;
grid-column: 4/span 3;
}
.grid-item-projects-6 {
grid-row: 2;
grid-column: 7/span 3; 
}

.grid-item-testimonials {
  grid-row: 17;
  grid-column: 1/span 6; 
  margin: 110px 0px 0px 0px;
}
.grid-item-testimonials-text-1 {
 grid-row: 18;
  grid-column: 2/span 2; 
  text-align: center;
  outline: 1px #000 solid;
  
}
.grid-item-testimonials-text-2 {
 grid-row: 18;
 grid-column: 4/span 2; 
 text-align: center;
 outline: 1px #000 solid;
 
}
.grid-item-testimonials-text-3 {
 grid-row: 18;
 grid-column: 6/span 2; 
 text-align: center;
 outline: 1px #000 solid;
 
}
.grid-item-form-img {
 grid-row: 19;
  grid-column: 1/span 4; 
  margin: 110px 0px 0px 0px;

}
.grid-item-form {
  grid-row: 19;
  grid-column: 5/span 4; 
  margin: 110px 0px 0px 0px;
}
.grid-item-footer-info {
 grid-row: 20;
 grid-column: 1/span 2; 
 margin: 110px 0px 0px 0px;
}
.grid-item-footer {
  grid-row: 20;
  grid-column: 3/span 4; 
  text-align: center;
  margin: 110px 0px 0px 0px;
}
.grid-item-footer-social {
 grid-row: 20;
 grid-column: 7/span 2; 
 text-align: center;
 margin: 110px 0px 0px 0px;
}



*/
